<article class="container">
  <!--Section to select source and destination-->
  <section class="select-location-container">
    <!--SOurce-->
    <app-dropdown
      [source$]="countries$"
      label="Origin"
      (selected)="source = $event.value"
    ></app-dropdown>
    <!--Destination-->
    <app-dropdown
      [source$]="countries$"
      label="Destination"
      (selected)="destination = $event.value"
    ></app-dropdown>
    <!--Fares Button-->
    <p-button
      label="Show Fares"
      class="align-end"
      [ngClass]="{'disabled': !source || !destination}"
      (click)="showFares()"
      [disabled]="!source || !destination"
    ></p-button>
  </section>
  <!--Section to show fares details-->
  <section class="show-fares-container">
    <app-table [fare$]="fare$"></app-table>
  </section>
</article>
<app-spinner></app-spinner>
